<a href="https://colab.research.google.com/github/poojashah19/Data-Science/blob/main/Assignment%207/Performance_metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task - a

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('5_a.csv')
data.head(10)

     y     proba
0  1.0  0.637387
1  1.0  0.635165
2  1.0  0.766586
3  1.0  0.724564
4  1.0  0.889199
5  1.0  0.601600
6  1.0  0.666323
7  1.0  0.567012
8  1.0  0.650230
9  1.0  0.829346

In [ ]:
data['y'].value_counts()

1.0    10000
0.0      100
Name: y, dtype: int64

In [ ]:
data['prob'] = data['proba'].apply(lambda x: 0 if x < 0.5 else 1)
print(data)

         y     proba  prob
0      1.0  0.637387     1
1      1.0  0.635165     1
2      1.0  0.766586     1
3      1.0  0.724564     1
4      1.0  0.889199     1
...    ...       ...   ...
10095  1.0  0.665371     1
10096  1.0  0.607961     1
10097  1.0  0.777724     1
10098  1.0  0.846036     1
10099  1.0  0.679507     1

[10100 rows x 3 columns]

In [ ]:
TP = len( data.loc[(data.y == 1) & (data.prob == 1)] )
FP = len( data.loc[(data.y == 0) & (data.prob == 1)] )
FN = len( data.loc[(data.y == 1) & (data.prob == 0)] )
TN = len( data.loc[(data.y == 0) & (data.prob == 0)] )

total_points = TP + FP + FN + TN
confusion_matrix = np.array([[TP, FP], [FN, TN]])
print(confusion_matrix)

[[10000   100]
 [    0     0]]

In [ ]:
precision = TP / ( TP + FP )
recall = TP / ( TP + FN )
print(precision, recall)

0.9900990099009901 1.0

In [ ]:
accuracy = ( TP + TN ) / ( total_points )
print(accuracy)

0.9900990099009901

In [ ]:
f1_score = 2*precision*recall/(precision + recall)
print(f1_score)

0.9950248756218906

In [ ]:
def compute_aucscore(data):
  data = data.sort_values(by = "proba",  ascending = False)
  tpr_array = []
  fpr_array = []
  for prob in data.proba:
    threshold = prob
    data['prob'] = data['proba'].apply(lambda x: 0 if x < threshold else 1)
    TP = len( data.loc[(data.y == 1) & (data.prob == 1)] )
    FP = len( data.loc[(data.y == 0) & (data.prob == 1)] )
    FN = len( data.loc[(data.y == 1) & (data.prob == 0)] )
    TN = len( data.loc[(data.y == 0) & (data.prob == 0)] )
    positive_points = len( data.loc[ (data.y == 1)] )
    negative_points = len( data.loc[ (data.y == 0)] )
    tpr = TP / positive_points
    fpr = FP / negative_points
    tpr_array.append(tpr)
    fpr_array.append(fpr)

  return tpr_array, fpr_array

In [32]:
tpr_array, fpr_array = compute_aucscore(data)
np.trapz(tpr_array, fpr_array)

0.48829900000000004

# Task - b

In [33]:
data_b = pd.read_csv('5_b.csv')
data_b.head(10)

     y     proba
0  0.0  0.281035
1  0.0  0.465152
2  0.0  0.352793
3  0.0  0.157818
4  0.0  0.276648
5  0.0  0.190260
6  0.0  0.320328
7  0.0  0.435013
8  0.0  0.284849
9  0.0  0.427919

In [ ]:
data_b['y'].value_counts()

0.0    10000
1.0      100
Name: y, dtype: int64

In [ ]:
data_b['prob'] = data_b['proba'].apply(lambda x: 0 if x < 0.5 else 1)
print(data_b)

         y     proba  prob
0      0.0  0.281035     0
1      0.0  0.465152     0
2      0.0  0.352793     0
3      0.0  0.157818     0
4      0.0  0.276648     0
...    ...       ...   ...
10095  0.0  0.474401     0
10096  0.0  0.128403     0
10097  0.0  0.499331     0
10098  0.0  0.157616     0
10099  0.0  0.296618     0

[10100 rows x 3 columns]

In [ ]:
TP = len( data_b.loc[(data_b.y == 1) & (data_b.prob == 1)] )
FP = len( data_b.loc[(data_b.y == 0) & (data_b.prob == 1)] )
FN = len( data_b.loc[(data_b.y == 1) & (data_b.prob == 0)] )
TN = len( data_b.loc[(data_b.y == 0) & (data_b.prob == 0)] )

total_points = TP + FP + FN + TN
confusion_matrix = np.array([[TP, FP], [FN, TN]])
print(confusion_matrix)

[[  55  239]
 [  45 9761]]

In [ ]:
precision = TP / ( TP + FP )
recall = TP / ( TP + FN )
print(precision, recall)

0.1870748299319728 0.55

In [ ]:
accuracy = ( TP + TN ) / ( total_points )
print(accuracy)

0.9718811881188119

In [ ]:
f1_score = 2*precision*recall/(precision + recall)
print(f1_score)

0.2791878172588833

In [34]:
tpr_array, fpr_array = compute_aucscore(data_b)
np.trapz(tpr_array, fpr_array)

0.9377570000000001

# Task - c

In [ ]:
data_c = pd.read_csv('5_c.csv')
data_c.head(10)

   y      prob
0  0  0.458521
1  0  0.505037
2  0  0.418652
3  0  0.412057
4  0  0.375579
5  0  0.595387
6  0  0.370288
7  0  0.299273
8  0  0.297000
9  0  0.266479

In [ ]:
data_c['y'].value_counts()

0    1805
1    1047
Name: y, dtype: int64

In [ ]:
data_c['proba'] = data_c['prob'].apply(lambda x: 0 if x < 0.5 else 1)
print(data_c)

      y      prob  proba
0     0  0.458521      0
1     0  0.505037      1
2     0  0.418652      0
3     0  0.412057      0
4     0  0.375579      0
...  ..       ...    ...
2847  1  0.491663      0
2848  1  0.292109      0
2849  1  0.659161      1
2850  1  0.456265      0
2851  1  0.659161      1

[2852 rows x 3 columns]

In [ ]:
TP = len( data_c.loc[(data_c.y == 1) & (data_c.proba == 1)] )
FP = len( data_c.loc[(data_c.y == 0) & (data_c.proba == 1)] )
FN = len( data_c.loc[(data_c.y == 1) & (data_c.proba == 0)] )
TN = len( data_c.loc[(data_c.y == 0) & (data_c.proba == 0)] )

total_points = TP + FP + FN + TN

accuracy = ( TP + TN ) / ( total_points )
print(accuracy)

0.7791023842917251

In [ ]:
def compute_bestThreshold(data):
  data = data.sort_values(by = "prob",  ascending = False)
  A_list = {}

  for prob in data.prob:
    threshold = prob
    data['proba'] = data['prob'].apply(lambda x: 0 if x < threshold else 1)
    FP = len( data.loc[(data.y == 0) & (data.proba == 1)] )
    FN = len( data.loc[(data.y == 1) & (data.proba == 0)] )
    A = (500*FN) + (100*FP)
    A_list[threshold] = A

  min_A = min(A_list.values())
  print(min_A)
  return [ key for key in A_list if A_list[key] == min_A ]

In [ ]:
best_threshold = compute_bestThreshold(data_c)
print(best_threshold)

141000
[0.2300390278970873]

# Task - d

In [ ]:
data_d = pd.read_csv('5_d.csv')
data_d.head(10)

       y   pred
0  101.0  100.0
1  120.0  100.0
2  131.0  113.0
3  164.0  125.0
4  154.0  152.0
5  133.0  153.0
6  148.0  139.0
7  172.0  145.0
8  153.0  162.0
9  162.0  154.0

In [ ]:
def compute_MES(data):
  sum_of_squares = 0
  sum_of_errors = 0
  sum_of_y = 0
  sum_of_total = 0
  mean_of_y = data['y'].mean()
  for index, point in data.iterrows():
    y = point['y']
    y_pred = point['pred']
    error = abs(y - y_pred)
    diff = abs(y - mean_of_y)
    sum_of_squares += error**2
    sum_of_errors += error
    sum_of_y += y
    sum_of_total += diff**2

  return sum_of_squares/len(data), sum_of_errors/sum_of_y, ( 1 - (sum_of_squares/sum_of_total) )

In [ ]:
data2 = data_d.head(3)
MES, MAPE, R2 = compute_MES(data2)
print(MES, MAPE, R2)

241.66666666666666 0.11079545454545454 -0.5738060781476122