<a href="https://colab.research.google.com/github/poojashah19/Data-Science/blob/main/Assignment%207/Performance_metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task - a

In [1]:
import numpy as np
import pandas as pd

In [9]:
data = pd.read_csv('5_a.csv')
data.head(10)

     y     proba
0  1.0  0.637387
1  1.0  0.635165
2  1.0  0.766586
3  1.0  0.724564
4  1.0  0.889199
5  1.0  0.601600
6  1.0  0.666323
7  1.0  0.567012
8  1.0  0.650230
9  1.0  0.829346

In [11]:
data['y'].value_counts()

1.0    10000
0.0      100
Name: y, dtype: int64

In [16]:
data['prob'] = data['proba'].apply(lambda x: 0 if x < 0.5 else 1)
print(data)

         y     proba  prob
0      1.0  0.637387     1
1      1.0  0.635165     1
2      1.0  0.766586     1
3      1.0  0.724564     1
4      1.0  0.889199     1
...    ...       ...   ...
10095  1.0  0.665371     1
10096  1.0  0.607961     1
10097  1.0  0.777724     1
10098  1.0  0.846036     1
10099  1.0  0.679507     1

[10100 rows x 3 columns]

In [23]:
TP = len( data.loc[(data.y == 1) & (data.prob == 1)] )
FP = len( data.loc[(data.y == 0) & (data.prob == 1)] )
FN = len( data.loc[(data.y == 1) & (data.prob == 0)] )
TN = len( data.loc[(data.y == 0) & (data.prob == 0)] )

total_points = TP + FP + FN + TN
print(TP, FP, FN, TN)

10000 100 0 0

In [21]:
confusion_matrix = np.array([[TP, FP], [FN, TN]])
print(confusion_matrix)

[[10000   100]
 [    0     0]]

In [22]:
precision = TP / ( TP + FP )
recall = TP / ( TP + FN )
print(precision, recall)

0.9900990099009901 1.0

In [25]:
accuracy = ( TP + TN ) / ( total_points )
print(accuracy)

0.9900990099009901

In [26]:
f1_score = 2*precision*recall/(precision + recall)
print(f1_score)

0.9950248756218906